.about{
    /* margin: 30px 0px; */
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    /* margin-left: 150px; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* margin-left: 120px; */
    /* padding: 60px 0px; */
}
.about-img img{
    border-radius: 60px;
    width: 100%;
    height: 380px;
    padding-left: 10px;
}
.about-img{
    align-items: center;
    display: flex;
}
/* img{
    width: 300px;
} */
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about-content h1{
    color: #138781;
    font-weight: bold;
    font-family: cursive;
    border-bottom: 2px solid #138781;
}
.about-content p{
    text-align: justify;
    padding: 15px;
}

/* Dark Mode   */
#dark .about{
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.15) ;
}
#dark .about-content h1{
    color: #b0a4a4;
    border-bottom: 2px solid #b0a4a4;
}
.about-box{
    display: flex;
    justify-content: space-around;
}
/* ================================== */
@media (min-width: 1200px){
.col-xl-6 {
    flex: 0 0 auto;
    width: 30%;
}
}
@media(max-width:600px) {
    .about{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }
    .about h1{
        margin-top: 20px;
    }
    .row{
        margin-right:0;
    }
    .about-img{
        padding-right: 5px;
        padding-left: 5px;
    }
    .container{
        padding-right: 0;
    }
}