.contact {
  width: 85%;
  /* margin-left: 190px; */
  margin-bottom: 60px;
  padding-top: 60px;
  /* background-color: #138781; */
}
/* .card0 {
  box-shadow: 0px 4px 8px 0px #757575;
} */

.card2 {
  margin: 0px 40px;
}

.card1 .image {
  padding: 30px;
  height: 350px;
  /* background-color: white; */
  margin-top: 30px;
}
.border-line {
  border-right: 1px solid #e0e0e0;
}
.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}
.or {
  display: flex;
  width: 10%;
  font-weight: bold;
}
::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}
input,
textarea {
  padding: 10px 12px;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-top: 5px;
  width: 100%;
  color: #138781;
  font-size: 1rem;
  letter-spacing: 1px;
}
input:focus,
textarea:focus {
  box-shadow: nonw !important;
  outline: 1px solid #138781 !important;
  outline-width: 0px;
}
button:focus {
  box-shadow: none;
  outline-width: 0px;
}
.contact-heading{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button {
  background-color: #1e1e1e;
  color: white;
  border-radius: 2px;
  margin-top: 15px;
  padding: 10px;
}
.button:hover {
  background-color: #138781;
  color: white;
}
.contact-writebox{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}
/* ========================= */
@media (max-width: 600px) {
  .contact {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  .card0 {
    /* background-color: #5f264a; */
    padding-bottom: 20px;
    box-shadow: none;
  }
  .card1 .image {
    padding-top: 0px;
  }
  .card2 h6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-filling {
    padding-right: 0px;
  }
  .writing-card{
    
      display: flex;
      justify-content: center;
  
  }
}
