.sidebar-section{
    display:flex ;
    background-color: black;
    
}
.sidebar{
    height: 100vh;
    background-color: #1e1e2c;
    width: 90px;
    position: fixed;
}
.sidebar-toggle{
    width: 150px;
}
.sidebar-toggle-icon{
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}
.sidebar-toggle-icon p svg{
    background-color: #1e1e2c;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}
@media(max-width: 600px){
    .sidebar{
        display: none;
    }
}