.navbar-profile-pic img{
    border-radius: 90px;
    height: 120px;
    width: 120px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
}
.nav-items{
    color: white;
    font-size: 15px;
    margin-top: 30px;
    /* text-align: center; */
    margin-left: 30px;
}
.nav-link{
    margin-top: 20px;
    cursor: pointer;
}
.nav-link svg{
    margin-right: 10px;
}
.nav-link:hover{
    color: rgb(255, 0, 0);
}
.nav-link .active{
    color: #f29f67;
    border-left: 5px solid #f29f67;
    padding-left: 10px;
    text-decoration: none;
}