.project{
    /* margin: 50px 0px; */
    margin-top: 60px;
    /* margin-left: 150px; */
    /* padding-left: 120px; */
    /* margin-top: 60px; */
}
.project hr{
    color: rgb(255, 0, 0);
    width: 450px;
    margin: 10px auto;
}
.project h1{
    font-weight: bold;
    color: #138781;
}
#ads{
    margin: 30px 0px 30px 30px;
}
#ads .card-notify-badge{
    position: absolute;
    left: -10px;
    top: -20px;
    background-color: aqua;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
}
.project .card img{
    height: 150px;
    width: 100%;
}
.card-detail-badge{
    background-color: yellow;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 16px;
}
.card-image-overly{
    font-size: 20px;
}
.card-image-overly span{
    display: inline-block;
    margin-left: 5px;
    /* color: rgb(255, 255, 255); */
}
.project .card:hover{
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.8s ease;
}
.ad-btn{
    text-transform: uppercase;
    display: block;
    width: 100px;
    height: 40px;
    /* text-align: center; */
    background-color: #138781;
    color: rgb(255, 255, 255);
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
}

.ad-btn:hover{
    background-color: white;
    color: #138781;
    background: transparent;
    border: 3px solid #138781;
    transition: all 0.8s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* =============================== */
@media(max-width:600px) {
    .project{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }
    .project hr{
        width:350px;
    }
}