.techstack {
  margin-top: 60px;
  margin-bottom: 60px;
  /* background-color: #138781; */
}
.techstack hr {
  color: rgb(255, 0, 0);
  width: 400px;
  margin: 10px auto;
}
.techstack h1 {
  font-weight: bold;
  color: #138781;
}
.techstack .card {
  cursor: pointer;
}
.techstack .tech-icon {
  font-size: 2rem;
  margin-right: 10px;
}
.techstack .card:hover {
  background-color: #138781;
  color: white;
  border: none;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ========================= */
@media (max-width: 600px) {
  .techstack {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  .techstack h1 {
    padding-top: 20px;
  }
  .col-md-3 {
    width: 50%;
    padding-right: 0;
  }
}
