.project{
    /* background-color: #1387812a; */
    /* margin-left: 180px; */
    padding: 60px 0px;
    margin-top: 60px;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.project hr{
    color: rgb(255, 0, 0);
    width: 450px;
    margin: 10px auto;
}
.project h1{
    font-weight: bold;
    color: #138781;
}
.listproject{
    font-weight: bold;
    color: #138781;
}
.card-detail-badge{
    /* background-color: rgb(19, 255, 19); */
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 16px;
}
.card-image-overly{
    
    display: flex;
    
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.card-image-overly span{
    display: inline-block;
    margin-left: 5px;
    /* color: rgb(255, 255, 255); */
    background-color: #e0e0e0;
    margin-bottom: 5px;
}
.project .vertical-timeline::before{
    background-color: #138781;
}
#dark .project{
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.15) ;
}

/* =============================== */
@media(max-width:600px) {
    .project{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }
    .project hr{
        width: 200px;
    }
}