.education{
    /* margin: 50px 0px;
    margin-left: 150px; */
    /* padding-left: 120px; */
    /* margin-top: 60px; */
    /* background-color: #1387812a; */

}
.education hr{
    color: rgb(255, 0, 0);
    width: 450px;
    margin: 10px auto;
}
.education h1{
    font-weight: bold;
    color: #138781;
}

/* .vertical-timeline--animate .vertical-timeline-element-content.bounce-in{
    background-color: #138781;
} */
.education .vertical-timeline-element-title{
    color: #138781;
}
.education .vertical-timeline-element-subtitle{
    color: #1e1e2c;
}
.education .vertical-timeline::before{
    background-color: #138781;
}
#dark .education{
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.15) ;
}

/* ============================ */

@media(max-width:600px) {
    .education{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }
    .education hr{
        width: 350px;
    }
    
}